@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquareRound', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/background-image.jpg');
  background-size: cover;
  color: #fff;
}
