@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

* {
  font-family: 'NanumSquareRound', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/background-image.jpg');
  background-size: cover;
  color: white;
}
